body{
    display: grid;
    place-content: center center;
}
#btn{
    padding: 1rem;
    background-color: black;
    border: 0;
    margin:  1rem;
    color: white;
    font-size: 2rem;
    transition: all .5s ease;
}

#btn:hover{
    transform: scale(1.1);
}

#colorCode{
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
}